body{
    background-color: rgb(153,217,234);
    font-family: Arial Black;
    font-weight: bold;
    text-align: center;
}
#kosten{
    color: whitesmoke;
    background-color: blue;
}

#messeInfos{
    margin-top: 50px;
}

#messeAuswahlTable{
    margin-top: 30px;
    margin-bottom: 50px;
    visibility: hidden;
}

#cebitTab{
    background-color: deepskyblue;
}

<<<<<<< HEAD
#messeTables{
    position: relative;
=======
.messeTables{
    position: absolute;
>>>>>>> 690ba10d13ff1ca1c1198a8c607e15ebd98f7655
    visibility: hidden;
    width: 600px;
}

<<<<<<< HEAD
.test {
    text-align: center;
    color: black;
}
=======
>>>>>>> 690ba10d13ff1ca1c1198a8c607e15ebd98f7655






